@model LivroModel

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <form asp-controller="Home" asp-action="Create">
                <fieldset>
                    <h2 class="text-center mt-3">Cadastrar livro</h2>
                    <input asp-for="id" type="hidden" />
                    <div class="form-group">
                        <label class="col-form-label mt-4" for="inputDefault">Título</label>
                        <input asp-for="titulo" type="text" class="form-control" placeholder="Titulo do livro" id="inputDefault">
                    </div>
                    <div class="form-group">
                        <label asp-for="genero">Genero</label>
                        <select asp-for="genero" asp-items="Html.GetEnumSelectList<Genero>()" class="form-control"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="autor">Autor</label>
                        <select asp-for="autor" asp-items="Html.GetEnumSelectList<Autores>()" class="form-control"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="status">Status</label>
                        <select asp-for="status" asp-items="Html.GetEnumSelectList<Status>()" class="form-control"></select>
                    </div>

                    <div class="form-group">
                        <label for="exampleTextarea" class="form-label mt-4">Descrição</label>
                        <textarea asp-for="sumario" class="form-control" id="exampleTextarea" rows="3"></textarea>
                    </div>
                    <div class="d-flex justify-content-between mt-3">
                        <input type="submit" asp-controller="Home" asp-action="Index" class="btn btn-outline-light" value="Cancelar" />
                        <input type="submit" class="btn btn-danger" value="Salvar" />
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>