@model LivroModel

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <form asp-controller="Home" asp-action="Create" method="post">
                <fieldset>
                    <legend class="text-center mt-3">Editar Livro</legend>
                    <input type="hidden" asp-for="id" />
                    <div class="form-group">
                        <label class="col-form-label mt-4" for="titulo">Título</label>
                        <input asp-for="titulo" type="text" class="form-control" placeholder="Título do livro" id="titulo">
                    </div>

                    <div class="form-group">
                        <label for="sumario" class="form-label mt-4">Sumário</label>
                        <textarea asp-for="sumario" class="form-control" id="sumario" rows="3"></textarea>
                    </div>
                    <div class="form-group">
                        <label asp-for="status">Status</label>
                        <select asp-for="status" asp-items="Html.GetEnumSelectList<Status>()" class="form-control"></select>
                    </div>
                    <div class="d-flex justify-content-between mt-3">
                        <a asp-controller="Home" asp-action="Listar" class="btn btn-outline-light">Cancelar</a>
                        <input type="submit" class="btn btn-danger" value="Salvar" />
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
